@import "../../variables";

@keyframes slide-down {
  0% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}

.strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: $color-null;

  & > .label {
    color: $color-litegrey;
    font-size: 1.12rem;
  }

  & > .level {
    display: flex;
    gap: 1rem;
    align-items: center;
    & > .level-name {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    & > .pips-container {
      display: flex;
      gap: 0.5rem;
      & > .pip {
        //position: absolute;
        height: 1.75rem;
        aspect-ratio: 0.36;
        border: 0.1rem solid $color-font;

        &.filled {
          animation: slide-down 0.2s forwards ease-in-out;
          border: none;
        }
      }
    }
  }
}
