@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf")
      format("truetype"),
    url("./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
      format("truetype");
}

:root {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;

  color: #e6e5ea;
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}
